<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A Match</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
  <h1>Enter The Match Details</h1>
    <div class="bc">
        <form action="/add" method="post">
          <!-- <label for="T1">Team 1</label>
      <label for="T2">Team 2</label> -->
  
          <select class="textInput" name="T1" id="T1">
            <option value="India">India</option>
            <option value="Australia">Australia</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="South Africa">South Africa</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Spain">Spain</option>
            <option value="England">England</option>
          </select>
  
          <input class="textInput" name="dt" type="date" class="cal" />
  
          <select class="textInput" name="T2" id="T2">
            <option value="India">India</option>
            <option value="Australia">Australia</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="South Africa">South Africa</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Spain">Spain</option>
            <option value="England">England</option>
          </select>

          <input class="textInput" type="text" name="rst" id="rst">
  
          <input class="but textInput" type="submit" />
        </form>
      </div>
</body>
</html>