<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crik Archive</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 class="title">The Crik Archive</h1>

    <form action="/search" method="post" class="search">
      <input type="text" name="searchPlayer" placeholder="Enter Name" />
      <input type="submit" />
    </form>

    <div class="bc">
      <form action="/verdict" method="post">
        <!-- <label for="T1">Team 1</label>
    <label for="T2">Team 2</label> -->

        <select class="textInput" name="T1" id="T1">
          <option value="India">India</option>
          <option value="Australia">Australia</option>
          <option value="Sri Lanka">Sri Lanka</option>
          <option value="South Africa">South Africa</option>
          <option value="New Zealand">New Zealand</option>
          <option value="Spain">Spain</option>
          <option value="England">England</option>
        </select>

        <input class="textInput" name="dt" type="date" class="cal" />

        <select class="textInput" name="T2" id="T2">
          <option value="India">India</option>
          <option value="Australia">Australia</option>
          <option value="Sri Lanka">Sri Lanka</option>
          <option value="South Africa">South Africa</option>
          <option value="New Zealand">New Zealand</option>
          <option value="Spain">Spain</option>
          <option value="England">England</option>
        </select>

        <input class="but textInput" type="submit" />
      </form>
    </div>

    <div class="extrad">
    <form action="/bats" method="POST" class="extra">
      <button class="leader">Batsman Leaderboard</button>
    </form>
    <form action="/add" method="GET" class="extra">
      <button class="leader">Add A Match</button>
    </form>
    <form action="/ball" method="POST" class="extra">
      <button class="leader">Bowler Leaderboard</button>
    </form>
  </div>
  </body>
</html>
