body {
  background-image: url(images/bg.png);
}
h1 {
  font-family: sans-serif;
  margin-left: 30px;
  padding-bottom: 100px;
  color: white;
  opacity: 0.8;
  display: inline-block;
}

.cal {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  opacity: 0.8;
}
tr:nth-child(odd) {
    background-color: #ea9085;
    opacity: 0.8;
  }

th {
  background-color: #4caf50;
  color: white;
  width: 150px;
}
td {
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
}

.textInput {
  /* display: inline-block; */
  /* margin: auto; */
  /* margin-bottom: 0px; */
  width: 150px;
  height: 40px;
  /* vertical-align: middle; */
  border-radius: 5px;
  margin-right: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.but {
  width: 150px;
  height: 40px;
  /* padding: 40px 20px; */
  border: none;
  background-color: chocolate;
  background-color: #ea9085;
  /* box-sizing: content-box; */
}

.bc {
  background-color: #2c003e;
  width: 900px;
  height: 150px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  /* background-blend-mode: overlay; */
  opacity: 0.8;
}

.t2{
  /* position: absolute; */
  margin-top: 200px;
}

.search{
  position: absolute;
  top:0;
  right:0;
  height: 90px;
  margin-right: 30px;
}

.extra{
  display: inline-block;
  
  
}
.extrad{
  text-align: center;
  margin-top: 350px;
}

.leader{
  height: 20px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0);
  /* border-color: rgba(0, 0, 0, 0); */
  color: white;
  
}

.leader:hover{
  background-color: #2c003e;
  color:white;
  border-color:rgb(199, 0, 0) ;
}